/*** Mixins para los Media Queries ***/
@mixin media($consulta) {
    
    @if $consulta == xxs {
      @media #{$media-xxs} { @content; }
    }
    @if $consulta == xs {
      @media #{$media-xs} { @content; }
    }
    @else if $consulta == sm {
      @media #{$media-sm} { @content; }
    }
    @else if $consulta == md {
      @media #{$media-md}  { @content; }
    }
    @else if $consulta == lg {
      @media #{$media-lg}  { @content; }
    }
    @else if $consulta == xlg {
        @media #{$media-xlg}  { @content; }
      }
}

/*** Mixin para el posicionamiento ***/
@mixin abs-position ($top, $right, $bottom, $left) {
   position: absolute; 
   top: $top;
   right: $right;
   bottom: $bottom;
   left: $left;
}

/*** Mixin centrar ***/
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

/*** Fonts ***/
@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

/*** Pasar a REM ***/
@mixin font-size($size, $base: 16) {
  font-size: $size; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

/*** Borde ***/
@mixin border ($color){
	border: 1px solid $color;
}
