/*** Colores ***/
$primario: #7abe47;
$secundario: #ffc845;
$negro: #010101;
$claro: #ffffff;
$gris: #eeeeee;
$oscuro: #57a42b;

/*** Media queries variables ***/
$media-xxs:"(min-width : 320px)"; // iPhone Retina 
$media-xs: "(min-width : 480px)"; // Telefonos
$media-sm: "(min-width: 768px)";  // Tablets
$media-md: "(min-width: 992px)"; // Escritorios
$media-lg: "(min-width: 1200px)"; // Resoluciones grandes
$media-xlg: "(min-width: 1400px)"; // Resoluciones extra grandes
